In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("final_dataset.csv")

In [ ]:
df2 = df.groupby('Hot100 Ranking Year').agg({'Hot100 Ranking Year': 'count'})
df2

                     Hot100 Ranking Year
Hot100 Ranking Year
1946                                  41
1947                                  47
1948                                  39
1949                                  30
1950                                  30
...                                  ...
2018                                 100
2019                                 100
2020                                 100
2021                                 100
2022                                 100

[77 rows x 1 columns]

In [5]:
df2.to_clipboard()

In [8]:
len(df[df["Lyrics"] == "Lyrics not found"])

2531

In [12]:
df3 = df[df["Lyrics"] == "Lyrics not found"]
df3 = df3.groupby('Hot100 Ranking Year').agg({'Hot100 Ranking Year': 'count'})

In [13]:
df3.to_clipboard()

In [14]:
edit = pd.read_csv("final_dataset.csv")

In [15]:
edit = edit[edit["Hot100 Ranking Year"] >= 1960]

In [17]:
edit.to_csv("finalized_dataset.csv", index=False)